#header {
  // background-color: #fff;
    padding: 3rem 0;
  .menu-item {
    text-transform: uppercase;
    font-size: 1.7rem;
    a{
        padding: 1rem 3rem;
        @include media-breakpoint-only(md){
          padding: 1rem 1.5rem;
        }
        white-space: nowrap;
    }
    &.btn {
      border: none;
      .nav-link {
        padding: 0;
      }
      &:hover {
        background-color: $purple;
        .nav-link {
          color: #fff;
        }
      }
    }
  }
}

#header .menu-item>a{
  position: relative;
  z-index: 1000;
}

.navbar-brand{
  margin: 0;
}

@media (min-width: 768px){
  .navbar-expand-md .navbar-collapse-left {
      justify-content: end;
  }
  .navbar-expand-md .navbar-collapse{
    flex-basis: 0;
  }
}

.footer__logo{
  height: 6.9rem;
}


.regulamin {
  // flex: 0 0 1;
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    color: #fff;
    text-decoration: underline;
    &:hover{
        color: $secondary;
    }
  }
}