$magenta: #EC008C;
$orange: #F18903;
$purple: #9A3CBC;
$lime: #94D60A;
$dark: #22291F;

$primary: $magenta;
$secondary: $purple;

$navbar-dark-color: rgba(255,255,255, 1);
$navbar-dark-hover-color: $purple;
$navbar-dark-disabled-color: rgba(255,255,255, 0.3);
$navbar-dark-active-color: transparent;

$link-hover-color: $orange;